In [1]:
import pandas as pd
location = "Datasets/titanic3.xls"
df = pd.read_excel(location)
df.head(10)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [ ]:
!cat.nb.log

In [3]:
df.count()

pclass       1309
survived     1309
name         1309
sex          1309
age          1046
sibsp        1309
parch        1309
ticket       1309
fare         1308
cabin         295
embarked     1307
boat          486
body          121
home.dest     745
dtype: int64

In [25]:
w = (df['sex']=='female').sum()
m = ((df['sex']=='male')&(df['age']>=18.0)).sum()
b = ((df['sex']=='male')&(df['age']<18.0)).sum()
print(w, m, b)
wsurv = ((df['sex']=='female')& (df['survived']==1)).sum()
msurv = ((df['sex']=='male') & (df['age'] >= 18.0) &(df['survived']==1)).sum()
bsurv = ((df['sex']=='male') & (df['age'] < 18.0) & (df['survived']==1)).sum()
print(wsurv, msurv, bsurv)

466 576 82
339 104 31

In [26]:
fc = (df['pclass']==1).sum()
sc = (df['pclass']==2).sum()
tc = (df['pclass']==3).sum()
print(fc, sc, tc)
fc_surv = ((df['pclass']==1) & (df['survived']==1)).sum()
sc_surv = ((df['pclass']==2) & (df['survived']==1)).sum()
tc_surv = ((df['pclass']==3) & (df['survived']==1)).sum()
print(fc_surv, sc_surv, tc_surv)

323 277 709
200 119 181

In [27]:
t = (df['survived']).count()
surv = (df['survived']==1).sum()
print(total_pass, surv)

1309 500

In [32]:
p_w = w/t
p_m = m/t
p_b = b/t

p_fc = fc/t
p_sc = sc/t
p_tc = tc/t

p_surv_w = wsurv/surv
p_surv_m = msurv/surv
p_surv_b = bsurv/surv

p_surv_fc = fc_surv/surv
p_surv_sc = sc_surv/surv
p_surv_tc = tc_surv/surv

p_surv = surv/t

In [ ]:
def computeBayes(a,b,c,d,e):
    return (a * b * c)/(d * e)

p_wtcsurv = computeBayes(p_surv_w, p_surv_tc, p_surv, p_w, p_tc)
p_mfcsurv = computeBayes(p_surv_m, p_surv_fc, p_surv, p_m, p_fc)
p_bscsurv = computerBayes(p_surv_b, p_surv_sc, p_surv, p_b, p_sc)

print(p_wtcsurv, p_mfcsurv, p_bscsurv)